.widget-holder {
    padding: 15px;
}

.image-holder {
    text-align: center;
}

.image-holder img {
    max-width: 100%;
}

.form-group.multiple-fields,
.form-group.single-field {
    margin-top: 30px;
}

.helper-holder {
    margin-top: 5px;
    font-size: 0.9em;
}

.helper-holder #add-multiple,
.helper-holder #add-single {
    float: right;
}

.video-states {
    width: 44px;
    text-align: center;
    padding: 0;
    line-height: 42px;
    font-size: 18px;
}

.video-states .fail,
.video-states .loading,
.video-states .success {
    display: none;
}

.video-states .initial {
    color: #333;
}

.video-states .success {
    color: #3c763d;
}

.video-states .fail {
    color: #c9302c;
}

.error {
    display: none;
    margin: 10px 0;
}
/* FORMS */
.form-group {
    margin-left: -15px;
    margin-right: -15px;
}

.control-label {
    padding-top: 13px;
}

label {
    font-weight: normal;
    color: #14505e;
}

.form-control {
    border-radius: 6px;
    border: 1px solid #e4e9eb;
    color: #333;
    height: 44px;
    line-height: 44px;
    padding: 0 15px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

textarea.form-control {
    line-height: 24px;
}

.form-control:focus {
    border-color: #00abd2;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 171, 210, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 171, 210, .6);
}

.input-group {
    width: 100%;
}

.input-group-addon {
    background-color: #e4e9eb;
    border: 1px solid #e4e9eb;
}

.input-group-addon:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.radio input {
    display: none;
}

.radio {
    float: left;
    margin: 0;
}

.radio + .radio {
    margin: 0;
}

.radio label {
    position: relative;
    height: 44px;
    line-height: 44px;
    border: 1px solid #e4e9eb;
    border-radius: 0;
    background-color: #FFFFFF;
    padding: 0 15px;
    margin-left: 0;
    margin-bottom: 0;
}

.radio:first-child label {
    border-right: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.radio:last-child label {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.radio input[type="radio"]:checked + label {
    background-color: #00abd2;
    color: #FFF;
}

.help-block {
    font-size: 0.8em;
}
